version: '3.8'

services:
  backend:
    container_name: easygenerator-auth-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - easygenerator-network

networks:
  easygenerator-network:
    driver: bridge